<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Menu</title>
</head>
<body>
    <h1>Welcome to Wallet, SSN: {{ ssn }}</h1>
    <ul>
        <li><a href="/account_info/{{ ssn }}">Account Info</a></li>
        <li><a href="/send_money">Send Money</a></li>
        <li><a href="/request_money">Request Money</a></li>
        <li><a href="/statements">Statements</a></li>
        <li><a href="/search_transactions">Search Transactions</a></li>
        <li><a href="/sign_out">Sign Out</a></li>
    </ul>
</body>
</html>


